
body {
    background-color: #fff;
    background-image: url(/Assets/Fondo-gato.colores.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 30px;
}

.mascaragato{
    width: 25px;
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.btn{
    background-image: linear-gradient(to right, #c25b5e, #eb898e, #e29899);
}

.content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0;
}

.buttons button {
    padding: 6px;
    font-size: 17px;
}

.form {
    font-size: 17px;
}

.select {
    font-size: 16px;
    padding: 4px 0 4px 4px;
}

.number-of-groups {
    margin-right: 5px;
}

.list-content {
    width: 200px; /*tiene ancho de 20% de su contenedor padre que tiene class="content"*/
    align-items: center;
}

.list-title {
    margin-bottom: 10px;
}

.list {
    list-style: none; /*elimina las bolitas en una lista desordenada (ul) HTML*/
    font-size: 18px;
}

.coder {
    margin-bottom: 8px;
}

.bola{
    width: 25px;  
}

.image {
    width: 70%; /*tiene ancho de 70% de su contenedor padre que tiene class="content"*/
}

.image img {
    width: 100%;
    margin-top: 200px; /*tiene ancho de 100% de su contenedor padre que tiene class="image"*/
    /*margin: 30px 0;*/
}

/*LISTA DE COLORES
#c25b5e
#a53439
#721c20
#a52a2a
#e29899
*/
